<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TCT Group</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@23_2/dist/dx-quill.min.js"></script> *@

    @* Uncomment to use the Gantt control *@
    @*<link href="~/css/devextreme/dx-gantt.css" rel="stylesheet" />*@

    @* Uncomment to use the Diagram control *@
    @*<link href="~/css/devextreme/dx-diagram.css" rel="stylesheet" />*@

    @* <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" /> *@

    @* Predefined themes: https://js.devexpress.com/DevExtreme/Guide/Themes_and_Styles/Predefined_Themes/ *@
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Site.css" />
    

    @* Uncomment to use the Gantt control *@
    @*<script src="~/js/devextreme/dx-gantt.js"></script>*@

    @* Uncomment to use the Diagram control *@
    @*<script src="~/js/devextreme/dx-diagram.js"></script>*@

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    @* Uncomment to use Globalize for localization *@
    @* Docs: https://docs.devexpress.com/AspNetCore/400577#globalize *@
    @*<script src="~/js/devextreme/cldr.js"></script>*@
    @*<script src="~/js/devextreme/cldr/event.js"></script>*@
    @*<script src="~/js/devextreme/cldr/supplemental.js"></script>*@
    @*<script src="~/js/devextreme/cldr/unresolved.js"></script>*@
    @*<script src="~/js/devextreme/globalize.js"></script>*@
    @*<script src="~/js/devextreme/globalize/message.js"></script>*@
    @*<script src="~/js/devextreme/globalize/number.js"></script>*@
    @*<script src="~/js/devextreme/globalize/currency.js"></script>*@
    @*<script src="~/js/devextreme/globalize/date.js"></script>*@

    @* Uncomment to enable client-side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <!-- DevExtreme CSS -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.1.4/css/dx.common.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.1.4/css/dx.light.css" />

    <!-- DevExtreme JavaScript -->
    <script src="https://cdn3.devexpress.com/jslib/22.1.4/js/dx.all.js"></script>


    <script src="~/js/devextreme/dx.all.js"></script>

    @* Uncomment to provide geo-data for the VectorMap control *@
    @* Docs: https://js.devexpress.com/DevExtreme/Guide/Widgets/VectorMap/Providing_Data/#Data_for_Areas *@
    @*<script src="~/js/devextreme/vectormap-data/world.js"></script>*@

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    <!-- Vendor CSS Files -->
    <link href="~/customize/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/customize/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/customize/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/customize/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/customize/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/customize/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/customize/vendor/simple-datatables/style.css" rel="stylesheet">

    <link rel="stylesheet" href="~/customize/css/style.css" />
</head>

<body>

    <!-- ======= Header ======= -->
    @inject IHttpContextAccessor HttpContextAccessor

    @{
        var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
        var user = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    }
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">TCT Group</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        @* <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar --> *@

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                @* <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">                                            

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>                        

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav --> *@

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/customize/img/default_avatar.png" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@user</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@user</h6>
                            @if(role == "QuanLyTong")
                            {
                                <span>Quản lý chung</span>
                            }
                            else if(role == "QuanLy")
                            {
                                <span>Quản lý</span>
                            }
                            else if (role == "ThuNgan")
                            {
                                <span>Thu ngân</span>
                            }
                            else
                            {
                                <span>Nhân viên</span>
                            }

                        </li>

                        @if (role != "ThuNgan" && role != "NhanVien")
                        {
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/CaNhan">
                                    <i class="bi bi-person"></i>
                                    <span>Thông tin cá nhân</span>
                                </a>
                            </li>
                        
                            @* <li>
                                <hr class="dropdown-divider">
                            </li>
                        
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/HoaHong">
                                    <i class="bi bi-cash-coin"></i>
                                    <span>Hoa hồng tích lũy</span>
                                </a>
                            </li> *@
                        
                            <li>
                                <hr class="dropdown-divider">
                            </li>


                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/DongCaLam">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        }
                        

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->


    <!-- ======= Sidebar ======= -->
    @if ( role == "NhanVien" || role == "ThuNgan")
    {
        <partial name="_NhanvienSidebar"></partial>
    }    
    else if (role == "QuanLyTong" || role == "QuanLy")
    {
        <partial name="_QlychinhanhSidebar"></partial>
    }    

    <main id="main" class="main">
        @RenderBody()
    </main>

    @* <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>TenQuan</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="#">LeDNhuan</a>
        </div>
    </footer><!-- End Footer --> *@

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <script src="~/customize/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/customize/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/customize/vendor/chart.js/chart.umd.js"></script>
    <script src="~/customize/vendor/echarts/echarts.min.js"></script>
    <script src="~/customize/vendor/quill/quill.min.js"></script>
    <script src="~/customize/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/customize/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/customize/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/customize/js/main.js"></script>
</body>

</html>