@page "/MoCalam"
@model QuanLyQuanAn.Pages.CaTruc.MoCaLamModel

@{
    Layout = string.Empty;
}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Mở ca làm - TCT Group</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="~/customize/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/customize/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/customize/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/customize/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="~/customize/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="~/customize/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/customize/vendor/simple-datatables/style.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="~/customize/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: NiceAdmin
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Updated: Mar 17 2024 with Bootstrap v5.3.3
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>
        <main>
            <div class="container">
                <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                                <div class="d-flex justify-content-center py-4">
                                    <a href="" class="logo d-flex align-items-center w-auto">
                                        <img src="assets/img/logo.png" alt=""> @*----- LOGO -----*@
                                        <span class="d-none d-lg-block">TCT Group</span>@*----- TÊN QUÁN -----*@
                                    </a>
                                </div><!-- End Logo -->

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Mở ca làm</h5>
                                            @* <p class="text-center small">Enter your username & password to login</p> *@
                                        </div>

                                        <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                                            <div class="col-12">
                                                <label for="TenNhanVien" class="form-label">Nhân viên</label>
                                                <div class="input-group has-validation">
                                                    @* <span class="input-group-text" id="inputGroupPrepend"></span> *@
                                                    <input type="text" name="TenNhanVien" class="form-control" id="TenNhanVien" value="@Model.NhanVien?.HoTen" readonly>
                                                    @* <div class="invalid-feedback">Please enter your username.</div> *@
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="TienDauCa" class="form-label">Tiền đầu ca</label>
                                                <div class="input-group has-validation">                                                    
                                                    <input type="number" name="TienDauCa" class="form-control" id="TienDauCa" min="0" required>
                                                    <span class="input-group-text" id="inputGroupPrepend">.000 VNĐ</span>
                                                    
                                                </div>
                                            </div>
                                                  
                                            <div class="col-1"></div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" type="submit">Vào ca làm</button>
                                            </div>                                            
                                        </form>

                                    </div>
                                </div>

                                <div class="credits">
                                    <!-- All the links in the footer should remain intact. -->
                                    <!-- You can delete the links only if you purchased the pro version. -->
                                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                    @* Thiết kế bởi <a href="https://bootstrapmade.com/">LeDNhuan</a> *@
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </main><!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        @* <script>
            // Lấy ra các phần tử cần thiết từ DOM
            const branchSelect = document.querySelector('.form-select');
            const staffRadio = document.getElementById('gridRadios1');
            const customerRadio = document.getElementById('gridRadios2');

            // Đặt sự kiện khi radio button được chọn
            staffRadio.addEventListener('change', function () {
                // Nếu chọn radio button "Nhân viên", bỏ disable combo box "Chi nhánh"
                branchSelect.disabled = false;
            });

            customerRadio.addEventListener('change', function () {
                // Nếu chọn radio button "Khách hàng", disable combo box "Chi nhánh"
                branchSelect.disabled = true;
            });
        </script>
 *@
        <!-- Vendor JS Files -->
        <script src="~/customize/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/customize/vendor/quill/quill.min.js"></script>
        <script src="~/customize/vendor/tinymce/tinymce.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/customize/js/main.js"></script>
    </body>
</html>
