@page
@model QuanLyQuanAn.Pages.Khach.IndexModel
<div class="card" style="height: 650px">
    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

        <img src="~/customize/img/default_avatar.png" alt="Profile" class="rounded-circle" style="margin-bottom: 20px; height:300px">
        <h2>Tên</h2>
        <h3>Loại khách hàng</h3>
        <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>
