@page "/QLNhanVien"
@model QuanLyQuanAn.Pages.QLChiNhanh.NVien.IndexModel

<div class="pagetitle">
    <h1>QUẢN LÝ NHÂN VIÊN</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/TongQuan">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý nhân viên</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="col-12">
        <div class="row">
            <div class="card">                
                <div class="card-body">
                    <h5 class="card-title">Danh sách nhân viên</h5>
                    
                    @(
                        Html.DevExtreme().DataGrid<QuanLyQuanAn.Models.NhanVien>()
                                .ID("gridContainer")
                                .ShowBorders(true)                        
                                .FilterRow(filterRow => filterRow
                                    .Visible(true)
                                    .ApplyFilter(GridApplyFilterMode.Auto)
                                )
                                .SearchPanel(searchPanel => searchPanel
                                    .Visible(true)
                                    .Width(240)
                                    .Placeholder("Tìm kiếm...")
                                )
                                .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
                                .Paging(paging => paging.PageSize(10))
                                .Pager(pager =>
                                {
                                    pager.Visible(true);
                                    pager.DisplayMode(GridPagerDisplayMode.Full);
                                    pager.ShowPageSizeSelector(true);
                                    pager.AllowedPageSizes(new JS("[5, 10, 'Tất cả']"));
                                    pager.ShowInfo(true);
                                    pager.ShowNavigationButtons(true);
                                })
                                .Editing(editing =>
                                {
                                    editing.Mode(GridEditMode.Form);
                                    editing.AllowUpdating(true);
                                    editing.AllowAdding(true);
                                    editing.AllowDeleting(true);
                                    editing.UseIcons(true);
                                })
                                .Columns(columns =>
                                {
                                    columns.AddFor(nv => nv.IdChiNhanh).Caption("Chi nhánh")
                                    .Width(125)
                                    .Lookup(lookup => lookup
                                        .DataSource(d => d.Mvc().Controller("DataGridChiNhanhLookup").LoadAction("Get").Key("Id"))
                                        .DisplayExpr("TenChiNhanh")
                                        .ValueExpr("Id")
                                    );

                                    columns.AddFor(nv => nv.Id).Caption("Mã NV")
                                    .Visible(true)
                                    .AllowEditing(false)
                                    .Width(80);

                                    columns.AddFor(nv => nv.HoTen).Caption("Họ tên");

                                    columns.AddFor(nv => nv.GioiTinh).Caption("Giới tính")
                                    .Width(80);

                                    columns.AddFor(nv => nv.NgaySinh).Caption("Ngày sinh")
                                    .Width(100)
                                    .Format("dd/MM/yyyy");

                                    columns.AddFor(nv => nv.Cccd).Caption("Số CCCD")
                                    .Width(110);

                                    columns.AddFor(nv => nv.Sdt).Caption("Số ĐT")
                                    .Width(110);

                                    columns.AddFor(nv => nv.DiaChi).Caption("Địa chỉ");

                                    columns.AddFor(nv => nv.Gmail).Caption("Email");
                                    
                                    columns.AddFor(nv => nv.IdVaiTro).Caption("Vai trò")
                                        .Width(125)
                                        .Lookup(lookup => lookup
                                        .DataSource(d => d.Mvc().Controller("DataGridVaiTroLookup").LoadAction("Get").Key("Id"))
                                        .DisplayExpr("TenVaiTro")
                                        .ValueExpr("Id")
                                        );

                                    columns.AddFor(nv => nv.MatKhau).Caption("Mật khẩu")
                                    .Visible(false);

                                    columns.AddFor(nv => nv.AnhDaiDien).Caption("Ảnh đại diện")
                                    .AllowEditing(false)
                                    .Visible(false);
                                })
                                .DataSource(d => d.Mvc()
                                    .Controller("DataGridNhanVien")
                                    .LoadAction("Get")
                                    .UpdateAction("Put")
                                    .InsertAction("Post")
                                    .DeleteAction("Delete")
                                    .Key("Id")
                        )
                    )
                </div>               
            </div>            
        </div>
    </div>
</section>



